.App {
  text-align: center;
  height: 100vh;
  padding: 3px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-muted {
  font-size: small !important;
}

.udimplot-container,
.dim-plot {
  margin: 5px;
  max-height: calc(100% - 70px) !important;
  height: calc(100% - 70px) !important;
}

.plot-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-content: center;
  max-height: 45px;
}

.plot-toggle {
  width: 190px !important;
}

.plot-body {
  /* flex: 3; */
  word-wrap: break-word;
  text-align: right;
  max-width: calc(100% - 200px);
}

.middle-panel {
  height: calc(100% - 70px) !important;
}
